<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{url_for('static',filename='/css/style.css')}}">
    <link rel="shortcut icon" href="{{url_for('static',filename='favicon.ico')}}" type="image/x-icon">

    <title>{{settings.title}}</title>
</head>
<body>

    <header class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <a href="" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
                <span class="ml-3 text-xl">{{ settings.title }}</span>
            </a>

            <nav
                class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400 flex flex-wrap items-center text-base justify-center">

                <a href="/" class="mr-5 hover:text-gray-900">Home</a>

                {% if user.is_authenticated %}

                <a href="/dashboard" class="mr-5 hover:text-gray-900">Dashboard</a>
                <a href="/account" class="mr-5 hover:text-gray-900">Account</a>

                {% else %}

                <a href="/register" class="mr-5 hover:text-gray-900">Register</a>
            
                {% endif %}

                {% block more_links %}{% endblock more_links %}


            </nav>

            {% if user.is_authenticated %}
            <a href="/logout">
                <button
                    class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Logout
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </button>
            </a>
            {% else %}
            <a href="/login">
                <button
                    class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Login
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </button>
            </a>


            {% endif %}

        </div>
    </header>

    <hr>

    {% with messages = get_flashed_messages(with_categories = true) %}
    {% if messages %}
    {% for category,message in messages %}

    {% if category == "error" %}

    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" id="alert">
        <span class="block sm:inline">{{ message }}</span>
        <button type="button" onclick="message()">
            <span class="absolute top-0 bottom-0 right-0 px-4 py-3">&times;</span>
        </button>
    </div>

    {% elif category == "success" %}
    <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" id="alert">
        <span class="block sm:inline">{{ message }}</span>
        <button type="button" onclick="message()">
            <span class="absolute top-0 bottom-0 right-0 px-4 py-3">&times;</span>
        </button>
    </div>

    {% endif %}

    {% endfor %}
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock content %}

    <hr>

    <footer class="text-gray-600 body-font">
        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
            <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
                
                <span class="ml-3 text-xl">{{settings.title}}</span>
            </a>
            <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">©
                {{settings.copyright_year}} {{settings.developer}}
            </p>
        </div>
    </footer>

    <script src="{{url_for('static',filename='/js/script.js')}}"></script>

</body>
</html>

