{% extends 'base.html' %}

{% block content %}
<section class="text-gray-600 body-font relative">
    <div class="container px-5 py-24 mx-auto">

        <form method="POST">
            <div class="flex flex-col text-center w-full mb-12">
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Change Account Password</h1>
                <p class="lg:w-2/3 mx-auto leading-relaxed text-base">You can change account password using the form below</p>
            </div>

            <div class="lg:w-1/2 md:w-2/3 mx-auto">

                <div class="flex flex-wrap -m-2">

                    <div class="p-2 w-full">
                        <div class="relative">
                            <label for="old_password" class="leading-7 text-sm text-gray-600">Old Password</label>
                            <input type="text" id="old_password" name="old_password"
                                class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                                value="" required>
                        </div>
                    </div>


                    <div class="p-2 w-full">
                        <div class="relative">
                            <label for="new_password" class="leading-7 text-sm text-gray-600">New Password</label>
                            <input type="text" id="new_password" name="new_password"
                                class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                                value="" required>
                        </div>
                    </div> 

                    <div class="p-2 w-full">
                        <div class="relative">
                            <label for="confirm_new_password" class="leading-7 text-sm text-gray-600">New Password (Confirm)</label>
                            <input type="text" id="confirm_new_password" name="confirm_new_password"
                                class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                                value="" required>
                        </div>
                    </div>


                    <div class="p-2 w-full">
                        <a href="">
                            <button type="submit"
                                class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Change Password</button>
                        </a>

                    </div>

                </div>

            </div>
        </form>

    </div>

</section>
{% endblock content %}